$main-color: #0B1C24;
$prm-color: #e9c169;
$dark-color: #19191b;
$grey-color: #4f4f4f;

$transition: .3s;

/* Fonts */
$title-font: 'Open Sans Condensed';
$main-font: 'Century Gothic';

/* Adaptive */

$desctop: 1440px;
$desctop-small: 1200px;
$laptop-horizontal: 1024px;
$laptop-vertical: 960px;
$tablet: 768px;
$phone: 475px;
