$main-color: #0B1C24;
$prm-color: #0078B3;
$action-color: #008DD2;
$prm-color-light: #F5FAFD;

$transition: .3s;

/* Adaptive */

$desctop: 1440px;
$desctop-small: 1200px;
$laptop-horizontal: 1024px;
$laptop-vertical: 960px;
$tablet: 768px;
$phone: 475px;
