.tags__container {
    margin-bottom: 40px;
    
    &-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: -17px;
    }

    &-item {
        margin-right: 16px;
        margin-bottom: 16px;
    }

    &-button {
        border-radius: 2px;
        border: 1px dashed #008ad0;
        background-color: #ffffff;
        padding: 9.82px 23px;
        transition: $transition;

        span {
            font-size: 12px;
            font-weight: 700;
            color: #008ed5;
            text-transform: uppercase;
        }

        &--all {
            background-color: #f3fafd;
            border-color: transparent;

            span {
                color: #698796;
            }
        }

        &:hover, &.active {
            border-style: solid;
            background-color: #008ed5;

            span {
                color: #fff;
            }
        }
    }
}