.filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__item {
        display: flex;
        align-items: center;
        background-color: #f3fafd;
        padding: 8px 9px 8px 15px;
        margin-right: 18px;
        border-radius: 2px;

        &:last-child {
            margin-right: 0;
        }

        @media screen and (max-width: 1440px) {
            flex-direction: column;
            align-items: flex-start;
        }

        @media screen and (max-width: 1024px) {
            margin-bottom: 10px;
            width: 100%;
            flex-direction: row;
            align-items: center;
        }
    }

    &__box {
        display: flex;
        align-items: center;

        @media screen and (max-width: 1440px) {
            align-items: stretch;
        }

        @media screen and (max-width: 1040px) {
            flex-direction: column;
            align-items: flex-start;
        }

        @media screen and (max-width: 1024px) {
            margin-right: 25px;
        }

        @media screen and (max-width: 650px) {
            flex-direction: column;
            width: 100%;
            margin-right: 0;
        }
    }

    &__name {
        color: #a5b4bb;
        font-size: 14px;
        display: block;
        margin-right: 12px;

        @media screen and (max-width: 1440px) {
            margin-right: 0;
            margin-bottom: 13px;
        }

        @media screen and (max-width: 1024px) {
            margin-bottom: 0;
            margin-right: 8px;
        }
    }


    &__button {
        display: flex;
        align-items: center;
        border: none;
        background-color: transparent;
        transition: $transition;
        color: $main-color;
        padding: 3.5px 12px;
        border-radius: 2px;
        margin-right: 2px;
        font-size: 14px;

        &:last-child {
            margin-right: 0;
        }

        &-icon {
            width: 13px;
            height: 13px;
            margin-right: 7px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;

            &--list {
                width: 16px;
                height: 17px;
                background-image: url(/img/img/icons/list.png);
            }

            &--table {
                width: 14px;
                height: 12px;
                background-image: url(/img/img/icons/dots-menu.png);   
            }
        }


        &:hover, &.active {
            background-color: #d5e3e9;

            span {
                color: $prm-color;
            }

            .filter__button-icon {
                &--list {
                    background-image: url(/img/img/icons/list-prm.png);
                }
    
                &--table {
                    background-image: url(/img/img/icons/dots-menu-prm.png);   
                }
            }
        }
    }

    &__container {
        display: flex;
    }

    &__main {
        &-wrap {
            display: flex;
            align-items: center;

            @media screen and (max-width: 1440px) {
                flex-direction: column;
                align-items: flex-start;
            }

            @media screen and (max-width: 1280px) {
                align-self: baseline;
                padding-top: 8px;
            }

            @media screen and (max-width: 1024px) {
                padding-top: 0;

                .filter__name {
                    margin-bottom: 8px;
                    margin-right: 0px;
                }
            }

            @media screen and (max-width: 768px) {
                width: 100%;
                padding-bottom: 30px;
            }
        }
    }

    &__sort-select-wrap {
        width: 123px;

        .select2 {
            width: 100%;
        }
    }

    &__select {
        &-wrap {
            width: 200px;

            @media screen and (max-width: 1024px) {
                width: 100%;
            }
        }
    }

    &__sort {
        display: flex;
        align-items: center;
        background-color: transparent;
        border: none;
        padding: 4px 10px;
        border-radius: 2px;
        color: #00161f;

        span {
            color: #00161f;
            border-bottom: 1px dashed #00161f;
            display: block;
            transition: .3s;
            margin-right: 7px;
            font-size: 14px;
        }

        &-box {
            display: flex;
            align-items: center;
        }

        &.active {
            background-color: #d5e3e9;
            
            span {
                border-bottom: none;
                color: #008ad0;
            }

            .filter__icon {
                display: block;
            }
        }

        &:hover {
            span {
                color: #008ad0;
                border-bottom-color: #008ad0;
            }
        }

        @media screen and (max-width: 1440px) {
            margin-right: 0;
            margin-bottom: 13px;
        }

        @media screen and (max-width: 1024px) {
            margin-bottom: 0px;
        }
    }


    &__icon {
        display: none;
        height: 10px;
        width: 7px;
        background-image: url(/img/sprites/sprite.svg#filter__arrow);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        position: relative;

        &--up {
            transform: rotate(180deg);
        }
    }

    @media screen and (max-width: 1024px) {
        justify-content: flex-start;
    }

    @media screen and (max-width: 650px) {
        flex-direction: column;
    }
}

.select2-container--default .select2-selection--single.sort {
    background-color: #d5e3e9;
    border-radius: 3px;
    border: none;
    height: 23px;
}

.select2-container--default .select2-selection--single.sort .select2-selection__rendered {
    line-height: 23px;
    color: $prm-color
}

.select2-container--default .select2-selection--single.sort .select2-selection__arrow {
    height: 23px;
    opacity: 0.5;
}

.select2-dropdown.sort {
    background-color: #d5e3e9;
    border-radius: 3px;
    border: none;
}

.select2-dropdown.sort .select2-results__option {
    color: $prm-color;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select2-container--default .select2-results__option[aria-selected=true]  {
    color: #fff;
    background-color: $prm-color;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    color: #fff;
    background-color: $prm-color;
}



.select2-container--default .select2-selection--single.filter-main {
    background-color: #f3fafd;
    border-radius: 3px;
    border: none;
    height: 40px;
}

.select2-container--default .select2-selection--single.filter-main .select2-selection__rendered {
    line-height: 40px;
    color: #00161f;
    font-size: 14px;
    padding-left: 15px;
}

.select2-selection--single.filter-main .select2-selection__arrow {
    height: 42px;
    opacity: 0.5;
    width: 35px;
}

.select2-dropdown.filter-main {
    background-color: #f3fafd;
    border-radius: 3px;
    border: none;
}

.select2-dropdown.filter-main .select2-results__option {
    color: #00161f;
    overflow: hidden;
    text-overflow: ellipsis;
}

.select2-dropdown.filter-main .select2-results__option[aria-selected=true]  {
    color: #fff;
    background-color: $prm-color;
}

.select2-dropdown.filter-main  .select2-results__option--highlighted[aria-selected] {
    color: #fff;
    background-color: $prm-color;
}

.select2-dropdown.filter-main .select2-results {
    padding: 0 5px;
    font-size: 14px;
} 
