.modal {
    &__menu {
        position: fixed;
        bottom: 0;
        left: 0;
        overflow: hidden;
        background: rgba(0, 141, 210, 0.98);
        width: 100%;
        transform: translateY(-100%);
        transition: 0.3s;
        z-index: 400;
        height: 100%;

        .common__container {
            height: 100%;
        }

        &.active {
            transform: translateY(0);
        }

        &-wrapper {
            position: relative;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            flex-direction: column;
            align-items: flex-end;

            @media screen and (max-width: 768px) {
                justify-content: flex-start;
                margin-top: 40px;
            }
        }


        &-list {
            height: 252px;
            max-width: 1249px;
            margin: 0 auto;
            width: 100%;
            column-count: 3;
            margin-bottom: 300px;

            @media screen and (max-width: 1280px) {
                margin-bottom: 200px;
            }

            @media screen and (max-width: 768px) {
                column-count: 2;
                height: calc(100% - 200px);
                margin-bottom: 0;
                overflow: auto;
            }

            @media screen and (max-width: 650px) {
                column-count: auto;
                height: calc(100% - 250px);
                margin-bottom: 0;
                overflow: auto;
            }
        }

        &-item {
            
        }

        &-link {
            color: #fff;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            transition: $transition;
            padding: 10px 20px;
            display: inline-block;

            &:hover {
                background-color: #0078B3;
            }
        }

        &-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 7px 9px;
        }

        &-box {
            position: relative;
            display: flex;
            flex-direction: column;
            background: #0083C3;
            border-radius: 3px;
        }
    }

    &__close {
        width: 89px;
        min-height: 88px;
        display: block;
        background-color: transparent;
        background-image: url(/img/sprites/sprite.svg#modal-close);
        border: none;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        margin-bottom: 20px;

        @media screen and (max-width: 768px) {
            width: 40px;
            min-height: 40px;
        }
    }
}