.search {
    &__modal {
        position: relative;

        &-wrap {
            width: 100%;
            padding-left: 34px;
            @media screen and (max-width: 768px) {
                padding-left: 10px;
            }
        }

       
    }

    &__input {
        background: #F4F7F9;
        border-radius: 3px;
        border: none;
        color: #fff;
        width: 100%;
        padding: 12px 50px 12px 21px;
        font-size: 14px;
        line-height: 19px;
        color: #486573;
        text-overflow: ellipsis;
        height: 48px;

            &::placeholder {
                color: #698796;
                font-size: 15px;
            }
        

        @media screen and (max-width: 1024px) {
           padding-top: 12px;
           padding-bottom: 12px;
        }

        @media screen and (max-width: 650px) {
            padding-right: 45px;
         }
    }
}